<div id="v2hls" class="container mt-4">
  <div class="row justify-content-center v2hls">
    <div class="col-md-6">
      <form id="md5-form" method="get" class="input-group">
        <input
          type="text"
          id="md5-input"
          name="q"
          class="form-control rounded"
          placeholder="Delete file..."
          aria-label="Search"
        />
        <button class="btn btn-secondary rounded-3 ms-2" type="submit">
          Delete
        </button>
      </form>
      <div id="message" class="mt-4"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("md5-form");
    const input = document.getElementById("md5-input");
    const messageDiv = document.getElementById("message");

    form.addEventListener("submit", async function (event) {
      event.preventDefault(); // 防止表单默认提交

      const md5Value = input.value.trim();

      if (!isValidMD5(md5Value)) {
        showMessage("请输入有效的 MD5 值。", "text-danger");
        return;
      }

      try {
        const response = await fetch(
          `http://127.0.0.1:8888/files/delete/${md5Value}`
        );

        if (!response.ok) {
          throw new Error("网络响应出错，请检查......");
        }

        const data = await response.json();
        showMessage(`${data.status}`, `${data.content}`);
      } catch (error) {
        showMessage("请求失败，请稍后再试。", "text-danger mt-3");
      }
    });

    function isValidMD5(value) {
      const md5Regex = /^[a-fA-F0-9]{32}$/;
      return md5Regex.test(value);
    }

    function showMessage(rStatus, rContent) {
      // 更新消息内容
      messageDiv.textContent = rContent;
      if (rStatus === "Successful") {
        messageDiv.className = "text-success mt-3";
      } else {
        messageDiv.className = "text-danger mt-3"; // 假设其他状态使用 text-danger
      }
    }
  });
</script>
