<div id="v2hls" class="container mt-4">
  <div class="row justify-content-center v2hls">
    <div class="col-md-6">
      <form id="md5-form" method="get" class="input-group">
        <input
          type="text"
          id="md5-input"
          name="q"
          class="form-control rounded"
          placeholder="视频文件转换..."
          aria-label="Search"
        />
        <button class="btn btn-secondary rounded-3 v2hls-btn" type="submit">
          开始转换
        </button>
      </form>
      <div id="message" class="mt-2"></div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("md5-form");
    const input = document.getElementById("md5-input");
    const messageDiv = document.getElementById("message");

    form.addEventListener("submit", function (event) {
      event.preventDefault(); // 防止表单默认提交

      const md5Value = input.value.trim();

      if (!isValidMD5(md5Value)) {
        messageDiv.textContent = "请输入有效的 MD5 值。";
        messageDiv.className = "text-danger v2hls-text";
        return;
      }

      fetch(`http://127.0.0.1:8888/files/v2hls/${md5Value}`)
        .then((response) => response.json())
        .then((data) => {
          messageDiv.textContent = data.result;
          messageDiv.className = "text-success v2hls-text";
          checkTaskStatus(md5Value);
        })
        .catch((error) => {
          messageDiv.textContent = "请求失败，请稍后再试。";
          messageDiv.className = "text-danger v2hls-text";
        });
    });

    function isValidMD5(value) {
      const md5Regex = /^[a-fA-F0-9]{32}$/;
      return md5Regex.test(value);
    }

    function checkTaskStatus(md5Value) {
      const statusInterval = setInterval(() => {
        fetch(`http://127.0.0.1:8888/files/v2hls/status/${md5Value}`)
          .then((response) => response.json())
          .then((data) => {
            messageDiv.textContent = data.result;
            messageDiv.className =
              data.status === "完成" ? "text-success v2hls-text" : "text-warning v2hls-text";
            if (data.status === "完成" || data.status === "失败") {
              clearInterval(statusInterval);
            }
          })
          .catch((error) => {
            messageDiv.textContent = "状态查询失败。";
            messageDiv.className = "text-danger v2hls-text";
          });
      }, 5000); // 每5秒查询一次状态
    }
  });
</script>

